body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    color: #333;
}

header {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3em;
    color: #ff4081;
    margin: 0;
}

header h2 {
    font-size: 2em;
    color: #ff4081;
    margin: 10px 0;
}

.bingo-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacion {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%;
}

.informacion h2, .informacion h3 {
    color: #333;
    text-align: center;
}

.informacion p, .informacion ul {
    font-size: 1.2em;
    margin: 10px 0;
}

.informacion ul {
    list-style-type: none;
    padding: 0;
}

.informacion ul li {
    margin: 5px 0;
}

.vendedores {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 80%;
}

.vendedor {
    border: 2px solid #fff;
    padding: 20px;
    text-align: center;
    width: 200px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.vendedor:hover {
    transform: scale(1.05);
}

.vendedor h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.vendedor button {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.vendedor button:hover {
    background-color: #1EBE53;
}

footer {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
